$header-height: 196px;

$submit-link-text: "Submit Link";
$submit-text-text: "Submit Text";
$downvote-text: "For content that does not contribute to any discussion.";

$infobox-bg-color: #fff;
$infobox-color: #333;