$header-height: 196px;

$submit-link-text: "Submit Link";
$submit-text-text: "Submit Text";
$downvote-text: "For content that does not contribute to any discussion.";

$infobox-bg-color: #fff;
$infobox-color: #333;

$button-color-primary: #0079d3;
$button-color-hover: lighten($button-color-primary, 12.75%);
$button-color-active: darken($button-color-primary, 6.5%);
    
$link-color-primary: #24a0ed;

$include-faq: true;